{{ define "main" }}
<div class="home-content">
    <div class="home-info">
        <h1>{{ .Site.Params.homeInfoParams.Title }}</h1>
        <div class="home-info-content">
            {{ .Site.Params.homeInfoParams.Content | markdownify }}
        </div>
    </div>

    <div class="posts-list">
        <h2>Recent Posts</h2>
        {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
        {{ $limit := .Site.Config.Services.RSS.Limit }}
        {{ if ge $limit 1 }}
        {{ $pages = $pages | first $limit }}
        {{ end }}

        {{ range $pages }}
        <div class="post-entry">
            <div class="entry-header">
                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            </div>
            <div class="entry-content">
                <div class="post-meta">
                    <span class="post-date">{{ .Date.Format .Site.Params.DateFormat }}</span>
                    {{ if .Params.estimatedReadingTime }}
                    <span class="reading-time">| Estimated Reading Time: {{ .Params.estimatedReadingTime }}</span>
                    {{ else if .ReadingTime }}
                    <span class="reading-time">| {{ .ReadingTime }} min read</span>
                    {{ end }}
                    {{ if .Author }}
                    <span class="post-author">| Author: {{ .Params.Author }}</span>
                    {{ end }}
                </div>
                {{ if .Summary }}
                <div class="summary">{{ .Summary }}</div>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }} 