{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title">
      {{ .Title }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
  </header>

  {{- if .Content }}
  <div class="post-content">
    {{ .Content }}
  </div>
  {{- end }}

  <!-- Social icons are intentionally not included in the FAQ page -->
</article>

{{- end }}{{/* end main */}} 